* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
  --clr-red: #b56357;
  --clr-green-mint: #B4DBC0;
  --clr-slate: #EAE3EA;
  --clr-sea-foam: #A7B3A5;

  --box-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-below: 0 4px 2px -2px  rgb(0 0 0 / 0.1);
}

.container {
  height: 100vh;
  display: grid;

  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  background-color: #e0f2fe;
}



/* header */
.header {
  background: var(--clr-green-mint);
  grid-column: 2 / -1;
  display: grid;
  grid-template-rows: auto auto;
  padding: 5px 30px;
  gap: 10px;
  box-shadow: var(--box-shadow-below);
}

.search-input {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 12px;
  margin-right: 100px;
  flex: 1;
}

.avatar {
  height: 54px;
  border-radius: 100%;
}
.big-avatar{
  height: 75px;
  border-radius: 100%;
}

.header-top {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom-left {
  display: flex;
  gap: 15px;
}

.bottom-left-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
}

.button {
  background-color: var(--clr-red);
  border: none;
  border-radius: 99em;
  padding: 10px 20px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  width: 150px;
}
.header-bottom-right{
  display: flex;
  gap: 25px;
}

/* sidebar */

.sidebar {
  background: var(--clr-red);
  grid-row: 1 / -1;
  padding: 30px;
  padding-left: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar-items{
  display: flex;
  gap: 30px;
  text-align: center;
}
.sidebar a {
  color: inherit;
  text-decoration: none;
  align-self: center;
  font-weight: bold;
}

.settings {
  margin-top: 80px;
}

.dashboard {
  margin-bottom: 30px;
  font-size: x-large;
  font-weight: 800;
}
.dashboard img {
  height: 66px;
}

/* main-content  */

.main-content {
  background: var(--clr-slate);
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 400px;
  padding-top: 20px;

}

.main-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  margin-top: 30px;
  gap: 10px;
  position: relative;

}
.main-left-icons{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.card {
  padding: 10px;
  margin: 10px;
  border-left: solid 10px var(--clr-red);
  border-radius: 8px;
  background-color: var(--clr-sea-foam);
  box-shadow: var(--box-shadow-xl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.absolute-title {
  position: absolute;
  left: 20px;
  top: -25px;
  font-weight: bolder;
  font-size: large;
}


.main-right {
  display: grid;
  grid-template-rows: auto auto;
  margin: 0px 15px;
  gap: 25px;
}

.main-right-top {
  padding: 30px;
  background-color: var(--clr-green-mint);
  box-shadow: var(--box-shadow-xl);
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.main-rigt-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background-color: var(--clr-green-mint);
  box-shadow: var(--box-shadow-xl);
  border-radius: 5px;
  margin: 15px 0px;
}

.profile {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 30px;
}

.announcement {
  border-bottom: solid 2px rgb(0, 0, 0, 0.2);
}
.announcement h4 {
  margin-bottom: 0.5rem;
}
.announcement p {
  margin-bottom: 0.5rem;
}